<?xml version="1.0" encoding="UTF-8"?>
<included>
    <property resource="application.properties"/>
    <property resource="application.yml"/>
    <springProperty scope="context" name="isPrettyLog" source="wiretap.pretty-print" defaultValue="false"/>
    <springProperty scope="context" name="defaultLog" source="wiretap.default-log" defaultValue="false"/>
    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="restInterceptorsSettings" source="wiretap.rest-template-interceptor"/>
    <springProperty scope="context" name="isLoggingFile" source="wiretap.file-logging.enabled" defaultValue="false"/>
    <springProperty scope="context" name="loggingPath" source="wiretap.file-logging.path" defaultValue="/var/log/wiretap"/>
    <springProperty scope="context" name="stackTraceMaxDepth" source="wiretap.stacktrace.max-depth" defaultValue="50"/>
    <springProperty scope="context" name="stackTraceMaxLength" source="wiretap.stacktrace.max-length" defaultValue="15000"/>
    <springProperty scope="context" name="isAsyncLogging" source="wiretap.async-logging.enabled" defaultValue="false"/>
    <springProperty scope="context" name="asyncQueueSize" source="wiretap.async-logging.queue-size" defaultValue="256"/>
    <springProperty scope="context" name="asyncNeverBlock" source="wiretap.async-logging.never-block" defaultValue="false"/>
    <springProperty scope="context" name="asyncDiscardingThreshold" source="wiretap.async-logging.discarding-threshold" defaultValue="-1"/>
    <conversionRule conversionWord="maskedMsg" converterClass="io.wiretap.applog.message.LazyCustomMaskingMessageConverter"/>
</included>