<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include optional="false" resource="logback-properties.xml"/>
    <!-- Configuration for writing JSON logs to stdout -->
    <if condition='property("defaultLog").equals("true")'>
        <then>
            <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                </layout>
            </appender>
        </then>
        <else>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <if condition='property("isPrettyLog").equals("true")'>
                        <then>
                            <jsonGeneratorDecorator class="io.wiretap.applog.decorator.WiretapPrettyJsonGeneratorDecorator"/>
                        </then>
                    </if>
                    <providers>
                        <provider class="io.wiretap.applog.provider.LazyStandardLogFieldsProvider"/>
                        <if condition='property("isPrettyLog").equals("true")'>
                            <then>
                                <!-- pretty-print mode: stack trace as JSON array of lines so the
                                     PrettyPrintingJsonGeneratorDecorator can wrap it vertically. -->
                                <provider class="io.wiretap.applog.provider.WiretapPrettyStackTraceProvider">
                                    <maxDepthPerThrowable>${stackTraceMaxDepth}</maxDepthPerThrowable>
                                    <maxLength>${stackTraceMaxLength}</maxLength>
                                    <rootCauseFirst>true</rootCauseFirst>
                                </provider>
                            </then>
                            <else>
                                <stackTrace>
                                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                        <maxDepthPerThrowable>${stackTraceMaxDepth}</maxDepthPerThrowable>
                                        <maxLength>${stackTraceMaxLength}</maxLength>
                                        <rootCauseFirst>true</rootCauseFirst>
                                    </throwableConverter>
                                </stackTrace>
                            </else>
                        </if>
                        <provider class="io.wiretap.applog.provider.WiretapDelegatingLogFieldProvider"/>
                    </providers>
                </encoder>
            </appender>
        </else>
    </if>

    <if condition='property("isAsyncLogging").equals("true")'>
        <then>
            <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
                <queueSize>${asyncQueueSize}</queueSize>
                <neverBlock>${asyncNeverBlock}</neverBlock>
                <discardingThreshold>${asyncDiscardingThreshold}</discardingThreshold>
                <appender-ref ref="CONSOLE"/>
            </appender>
            <root level="INFO">
                <appender-ref ref="ASYNC-CONSOLE"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>
</included>